<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <link rel='shortcut icon' href='images/favicon.ico' type='image/x-icon' />
    <link rel="stylesheet" type="text/css" href="stylesheet.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/github-fork-ribbon-css/0.2.0/gh-fork-ribbon.min.css" />
    <title>BadFood</title>
    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 100%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>
  </head>
<body>
<a class="github-fork-ribbon" href="https://github.com/theden/badfood" target="_blank" title="Fork me on GitHub">Fork me on GitHub</a>
<!--  <div style="text-align:center;  position: fixed !important; top: 0; width: 100%; z-index: 10000; height: 50px; bgcolor= white;  display: inline-block; padding-bottom: 5px;"> -->
<div id="header-wrap">
    <img src="images/banner.png" alt="BadFood Banner" />
<!--    <h1 style=" display: inline-block; float: right; padding-bottom: 5px;">GitHub</h1> -->
   <a style="display: inline-block; float: left; text-decoration: none;" href="http://theden.sh" target="_blank">✌ theden.sh</a>
<!--   <a style="display: inline-block; float: left; text-decoration: none;" href="https://github.com/theden/badfood" target="_blank">GitHub</a> -->
  </div>
<!-- <h1 style="text-align: center;"> 😷  bad food </h1> -->
    <div id="map"></div>
    <script
    src=<%= apikey %>>
    </script>
    <script>
    
    var newdata =<%-JSON.stringify(data)%>

    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 10,
      center: new google.maps.LatLng(-33.92, 151.25),
      mapTypeId: google.maps.MapTypeId.ROADMAP,
      mapTypeControl: false,
      streetViewControl: false
    });

    var infowindow = new google.maps.InfoWindow();

    var marker, i;
    for (i = 0; i < newdata.length; i++) {
      marker = new google.maps.Marker({
      position: new google.maps.LatLng(newdata[i].latlong[0], newdata[i].latlong[1]),
      map: map
      });

      google.maps.event.addListener(marker, 'click', (function(marker, i) {
        return function() {
          infowindow.setContent(newdata[i].name+"<br />Reason: "+newdata[i].finereason+"<br /><a href="+newdata[i].url+" target='_blank'>Penalty Details</a><br />Date issued: "+ newdata[i].date);
          infowindow.open(map, marker);
        }
      })(marker, i));
    }
   </script>
</body>
</html>
