html {

	font-family: helvetica;

}

#img-wrap {

	text-align: center;
	position: fixed !important;
	top: 10px;
	width: 100%;
	z-index: 10000;
	//  height: 50px;
	display: inline-block;

	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;

}

#link-wrap {

	text-align: center;
	position: fixed !important;
	top: 0;
	width: 100%;
	z-index: 10000;
	//  height: 50px;
	display: inline-block;

	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;

}

#stars {
    position: absolute;
    background: transparent;
    z-index: 20000;
}
